.empty {
    color: darkslateblue;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.planList {
    height: 540px;
    width: 700px;
    border: 7px double darkslateblue;
    margin-top: 10px;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.stats p {
    font-size: 24px;
    color: darkslateblue;
}